@model Academic.ViewModels.LoginVm
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rn53themes.net/themes/demo/lava-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 18:55:06 GMT -->
<head>
    <title>Lava Material - Web Application and Website Multipurpose Admin Panel Template</title>
    <!--== META TAGS ==-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--== FAV ICON ==-->
    <link rel="shortcut icon" href="images/fav.ico">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">

    <!-- FONT-AWESOME ICON CSS -->
    <link rel="stylesheet" href="~/lavalog/css/font-awesome.min.css">

    <!--== ALL CSS FILES ==-->
    <link rel="stylesheet" href="~/lavalog/css/style.css">
    <link rel="stylesheet" href="~/lavalog/css/mob.css">
    <link rel="stylesheet" href="~/lavalog/css/bootstrap.css">
    <link rel="stylesheet" href="~/lavalog/css/materialize.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="~/lavaLog/js/html5shiv.js"></script>
    <script src="~/lavaLog/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="blog-login">
        <div class="blog-login-in">
            <form asp-action="Login" method="post">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                <img src="~/lavaLog/images/logo.png" alt="" />
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name1" asp-for="Email" type="text" class="validate">
                        <label asp-for="Email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" asp-for="Password" type="password" class="validate">
                        <label asp-for="Password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <a class="waves-effect waves-light btn-large btn-log-in" href="index-2.html">Login</a>
                    </div>
                </div>
                <a href="forgot.html" class="for-pass">Forgot Password?</a>
            </form>
        </div>
    </div>

    <!--======== SCRIPT FILES =========-->
    <script src="~/lavaLog/js/jquery.min.js"></script>
    <script src="~/lavaLog/js/bootstrap.min.js"></script>
    <script src="~/lavaLog/js/materialize.min.js"></script>
    <script src="~/lavaLog/js/custom.js"></script>
</body>


<!-- Mirrored from rn53themes.net/themes/demo/lava-admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Feb 2019 18:55:07 GMT -->
</html>
